body {  
    margin: 0;  
    padding: 0;  
    font-family: Arial, sans-serif;  
}  
.navbar {  
    list-style-type: none;  
    margin: 0;  
    padding: 0;  
    overflow: hidden;  
    background-color: #333;  
    height: 5vh;
    width: 100%;
}  
  
.navbar li {  
    float: right;  
}  
  
.navbar li a {  
    display: block;  
    color: white;  
    text-align: center;  
    padding: 14px 60px;  
    text-decoration: none;  
    font-size: 17px;
}  
  
.navbar li a:hover {  
    background-color: #111;  
}